nav{
    display: inline;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    padding: 2%;
}



.about h1{
    font-size: x-large;
}
.about img{
    width: 25%;
    border-radius: 10%;
}

body{
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;}